# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore database and local data
proctoring.db

# Ignore alert images and other uploads
static/alert_images/
*.sqlite3

# Ignore virtual environments
venv/
.env/

# Ignore OS files
.DS_Store
Thumbs.db